html {border: #3F85F4 1px solid;margin-top: -2px;}
/*----------- Header styles -----------*/
header {background-color:#3F85F4;padding:5px 3px 0px 3px;height: 15px;margin:0;}
header h1 {font-size:12px;color:white;font-weight:bold;margin:-1px;}
header > h1 > i {font-size:12px;}
header > h1 > div {float:right;text-align:left;}
header > h1 > div > button {margin-right:3px;float:right;color:white;}

/*----------- Body styles -----------*/
body {padding:0;margin:0;color:#302e2f;font-family:Arial,sans-serif;width:767px;min-height:255px;overflow:hidden;background-color:rgb(255,255,255);}

button {font-size:13px;cursor:pointer;border:0;background:0;padding:0px 3px 1px 3px;}
button:focus {border:0;}
h5 {border-bottom:1px;font-size:14px;margin:0;}
input {border:1px solid #3F85F4;color:#3F85F4;width:81%;}
label {font-size:10px;}
small {font-size:9px; bottom-border:1px solid #3F85F4;}

.fa-l {font-size:14px;cursor:pointer;}

.note {float:left;width:581px;margin:0 0 0 -1px;}/* 761-581 */
.note > textarea {width:100%;min-height:255px;max-height:575px;resize:vertical;border:1px solid #3F85F4;border-top:0;margin-bottom:-4px;}
.note > span {height:10px;position:fixed;bottom:0;right:201px;font-weight:700;color:#3F85F4;margin:5px 0px;}
.note > span:hover {background:white;}
 
.note-list {float:right;width:181px;min-height:255px;height:100%;overflow:hidden;}
.note-list > table {width:100%;min-height:255px;height:100%;}
.note-list > table > tbody > tr > td {padding:0;}

.search {font-family:'FontAwesome';position:relative;display: inline-block;margin:0;content:"\f007";}    
.search:before {position:absolute;color:#3F85F4;font-family:FontAwesome;top:3px;left:3px;content: "\f002";}
.search > input {height:14px;width:134px;padding-left:15px;margin-left:-1px;}

.active{color:#3F85F4;}
div.active{border-bottom:1px solid #3F85F4;border-top:1px solid #3F85F4;}

.scroll-container {   
	position: absolute;
    height: 100%;
    width: 180px;
    overflow: auto;
}
.scroll-container::-webkit-scrollbar {
  width: 5px;
}

.scroll-container::-webkit-scrollbar-thumb {
	border-radius:s10px;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
