<!DOCTYPE html>
<html ng-app="Nopad" ng-csp>
    <head>
	<style>
	@charset "UTF-8";

	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
	.ng-cloak, .x-ng-cloak,
	.ng-hide:not(.ng-hide-animate) {
	  display: none !important;
	}

	ng\:form {
	  display: block;
	}

	</style>
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/main.css">
		
        <script src="js/lib/angular.min.js"></script>
		
		<script src="js/lib/UUID.js"></script>
		<script src="js/lib/elastic.js"></script>
		
        <script src="js/app/app.js"></script>
		<script src="js/app/filter.js"></script>
        <script src="js/app/noteCtrl.js"></script>
    </head>
    <body ng-controller="noteCtrl">
        <header>
		
            <h1>
				<div style="float:left;">
					<i class="fa fa-file-text-o"></i>
					Nopad, the quick pad.
				</div>
			

				<div style="float:right;width:23%;">
					Notes			
					<button ng-click="loadNotes()"><i class="fa fa-refresh"></i></button>
					<button ng-click="newNote()"><i class="fa fa-plus"></i></button>
					<!--<button ng-click="deleteNotes()">Delete storage</button>-->
				</span>
			</h1>
        </header>
        <div>
            <div class="note" ng-show="activeNote">
				<textarea ng-model="activeNote.body" ng-keyup="changed();"></textarea>
			</div>
        </div>
		<div class="note-list">
			<table cellspacing="10">
				
				<tbody>
					
					<tr>
						<td colspan="2">
							<div class="scroll-container">
								<table>
									<tbody>
										<tr>
											<td>
												<p class="search"><input ng-model="searchText" class=""></input></p>
												<i class="fa" ng-class="{'fa-sort-alpha-desc':reverse,'fa-sort-alpha-asc':!reverse,'active':predicate=='title'}" ng-click="predicate = 'title'; reverse = !reverse" ng-init="predicate = 'title'"></i>
												<i class="fa" ng-class="{'fa-sort-amount-desc':reverse,'fa-sort-amount-asc':!reverse,'active':predicate=='date'}" ng-click="predicate = 'date'; reverse = !reverse"></i>
											</td>
										</tr>
										<tr ng-init="predicate = 'title';reverse = false;" ng-repeat="note in (notes | filter:searchText)| orderBy:predicate:reverse;" ng-class="{'active':note.active}" ng-mouseover="hover = note;" ng-mouseleave="hover = null">
											<td ng-click="changeNote(note)" >
											
												<span ng-hide="note.active && editingTitle">{{note.title}} <i ng-show="note.active && !editingTitle" style="float:right;" class="fa fa-pencil" ng-click="editingTitle = true;"></i></span>
												<textarea ng-show="note.active && editingTitle" ng-model="note.title" ng-keyup="changed();" msd-elastic ></textarea>
												
												<br/><small>{{note.date | timeSinceFilter}}</small>
											
												<i style="float:right;" ng-hide="note.id != activeNote.id && hover.id != note.id" class="fa fa-trash-o fa-l" ng-click="deleteNote($index)"></i>
												<i style="float:right;" ng-hide="note.id != activeNote.id" class="fa fa-save fa-l" ng-click="saveNote(activeNote)"></i>
												</td>
										</tr>
									</table>
								</tbody>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </body>
</html>