<html ng-app="Nopad" ng-csp>
    <head>
	<style>
	@charset "UTF-8";

	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
	.ng-cloak, .x-ng-cloak,
	.ng-hide:not(.ng-hide-animate) {
	  display: none !important;
	}

	ng\:form {
	  display: block;
	}

	</style>
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/textAngular.css">
		<link rel="stylesheet" href="css/main.css">
		
        <script src="js/lib/angular.min.js"></script>
		
		<script src="js/lib/UUID.js"></script>
		<script src="js/lib/elastic.js"></script>
		<script src="js/lib/papaparse.min.js"></script>
		
        <script src="js/app/app.js"></script>
		<script src="js/app/filter.js"></script>
        
        <script src="js/app/noteCtrl.js"></script>
        <script src="js/app/noteService.js"></script>
        <script src="js/app/configService.js"></script>

		<script src='js/lib/textAngular-rangy.min.js'></script>
		<script src='js/lib/textAngular-sanitize.min.js'></script>
		<script src='js/lib/textAngular.min.js'></script>

    </head>
    <body ng-controller="noteCtrl">
        <header>
		
            <h1>
				<div style="float:left;">
					<i class="fa fa-file-text-o"></i>
					Nopad, the quick pad.
				</div>
			

				<div style="float:right;width:23%;">
					Notes			
					<input type="file" id="importInput" style="display:none;" accept=".csv,.txt"/>
					<button ng-click="importNotes()"><i class="fa fa-sign-in"></i></button>
					<button ng-click="exportNotes()"><i class="fa fa-sign-out"></i></button>
					<button ng-click="loadNotes()"><i class="fa fa-refresh"></i></button>
					<button ng-click="newNote()"><i class="fa fa-plus"></i></button>
				</span>
			</h1>


        </header>
		<div class="note" ng-show="activeNote">

			<text-angular ng-model="activeNote.body" ta-toolbar="[['undo','redo'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['h1','h2','h3','p','ul','ol','insertLink'],['bold','italics','underline','strikeThrough'],['indent','outdent','html']]"></text-angular>
			<textarea id="noteBody" ng-model="activeNote.body" ng-keyup="changed(activeNote);" maxlength=8000 focus-on="body"></textarea>
			<span ng-show="activeNote.body.length > 4000">{{activeNote.body.length}} / 8000</span>
		</div>
		<div class="note-list">
			<div>
				<p class="search"><input ng-model="searchText"></input><i ng-show="searchText" ng-click="searchText = ''" class="fa fa-times"></i></p>
				<i class="fa" ng-class="{'fa-sort-amount-asc':reverse,'fa-sort-amount-desc':!reverse,'active':predicate=='date'}" ng-click="reorder('date');"></i>
				<i class="fa" ng-class="{'fa-sort-alpha-desc':reverse,'fa-sort-alpha-asc':!reverse,'active':predicate=='title'}" ng-click="reorder('title');"></i>
			</div>
			<div class="scroll-container">
				<div class="note-list-note" ng-init="predicate = 'title';reverse = false;" ng-repeat="note in (notes | filter:searchText | orderBy:[orderbyProp])" ng-class="{'active':note.id == activeNote.id}" ng-mouseover="hover = note;" ng-mouseleave="hover = null">
					<span ng-click="changeNote(note)" >
						<input ng-focus="changeNote(note, true)"  ng-model="note.title" focus-on="{{note.id}}" ng-keyup="changed(activeNote);" ng-class="{'active':note.id == activeNote.id}" stop-event />
						<div class="small">
							{{note.date | timeSinceFilter}}
							<i ng-show="!note.deleting && (note.id == activeNote.id || hover.id == note.id)" class="fa fa-trash-o fa-l danger" ng-click="note.deleting = true;" stop-event></i>
							<div ng-show="note.deleting" class="danger delete-confirm">
								Delete? <span ng-click="note.deleting = false;">No</span> / <span ng-click="deleteNote(note)" stop-event>Yes</span>							
							</div>
							
						</div>
						
						<!--i ng-hide="note.id != activeNote.id" class="fa fa-save fa-l success" ng-click="note.save();" stop-event></i-->
					</span>
				</div>
			</div>
		</div>
    </body>
</html>